<img src="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmLogo"])" alt="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmName"])" class="img-responsive" />
<hr />
<div class="alert alert-danger">
    <h2>Sorry, an error occurred in the payment portal.</h2>
    <p>We cannot continue your request.  Please check back later.</p>
</div>
