<img src="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmLogo"])" alt="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmName"])" class="img-responsive" />
<hr />
<h2>Thank you for using the Payment Portal!</h2>
<p>It is a good idea to close your browser now to make sure all cookies and temp files are removed.</p>
