<img src="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmLogo"])" alt="@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["FirmName"])" class="img-responsive" />
<hr />
<h2>Sorry, it appears you have an invalid link.</h2>
<p>The payment portal only works from links created embedded on your invoice.</p>